<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="request-log" packages="">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
        </Console>
        <File name="fout" fileName="logs/app.log" append="true">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="fout"/>
        </Root>
    </Loggers>
</Configuration>